<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear regression</title>
</head>
<body>
    <h1>Linear Regression: Calculate grade depends on study hours</h1>
    <form method="POST" action="/LinearRegression/">
        <label for="study_hours">Study Hours:</label>
        <input type="number" id="hours" name="hours" required>
        <button type="submit">Predict Grade</button>
    </form>
    {% if result is not none %}
        <h2>Estimated Grade: {{ result }}</h2>
    {% endif %}
</body>
</html>